
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Pacifico&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: "League Spartan", sans-serif;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: hsla(270, 94%, 25%, 1);
    background: linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    background: -moz-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    background: -webkit-linear-gradient(90deg, hsla(270, 94%, 25%, 1) 0%, hsla(158, 94%, 49%, 1) 100%);
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr="#42047E", endColorstr="#07F49E", GradientType=1 );
}
.container{
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border: 5px solid rgb(0, 0, 0);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 6px 15px rgba(0, 0, 0, 0.664);

}
h1{
    font-size: 35px;
    padding: 20px;
    text-align: center;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5),   /* Slight shadow for depth */
             4px 4px 10px rgba(0, 0, 0, 0.3);  /* Deeper shadow for realism */

}
label{
    font-size: 20px;
    padding: 10px;
    color: white;
}
input{
    font-size: 16px;
    padding: 10px;
    border-radius: 10px;
    margin: 10px;
}